.connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 100px 260px;
    gap: 100px;
    isolation: isolate;
    position: absolute;
    width: 1920px;
    height: 858px;
    left: 0px;
    top: 2756px;
    background: #FFFEF0;
}
.logo5{
    position: absolute;
    width: 702.82px;
    height: 606.71px;
    left: 200px;
    top: 193px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    width: 684px;
    height: 658px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}
input[type=text] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=email]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}  
input[type=tell]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
textarea {
    width: 100%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;

}
 input[type=submit]{
    background-color: #333215;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}
.text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 644px;
    height: 102px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.plat1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 644px;
    height: 62px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.plat2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    width: 644px;
    height: 62px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.plat3{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 40px 60px;
    width: 644px;
    height: 102px;
    border: 1px solid #A9A547;
    border-radius: 6px;
    flex: none;
    order: 0;
    flex-grow: 1;
}