.why{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 260px;
    gap: 100px;
    position: absolute;
    width: 2000px;
    height: 1122px;
    left: 0px;
    top: 1678px;
    }
.heading2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 496px;
    height: 136px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.heading2 h1{
    width: 451px;
    height: 72px;
    font-family: 'Nexa Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 72px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 145px;
}
.heading2 p{
    width: 496px;
    height: 44px;
    font-family: 'Nexa Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #1D191F;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.why-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 0px 0px 20px;
    gap: 100px;
    isolation: isolate;
    width: 1400px;
    height: 303px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.box1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 20px; 
    width: 600px;
    height: 283px;
    background: #C9ECDC;   
    border: 1px solid #1D191F;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-shadow: -17px 17px #FEF86B;
}
.box2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
    width: 600px;
    height: 283px;
    background: #ffffff;
    border: 1px solid #1D191F;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.why-box2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 100px;
    width: 1400px;
    height: 283px;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.box3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 20px;
    width: 600px;
    height: 283px;
    background: #FAFAFA;
    border: 1px solid #1D191F;
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
